{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-wrapper">

    <div class="login-card">

        <h3 class="text-center mb-4">Login</h3>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>USER_NAME</label>
                <input type="text" name="User" class="form-control" required>
            </div>

            <div class="form-group mt-3">
                <label>Password</label>
                <input type="password" name="PASSWORD" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-4">
                Submit
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="/signup/" class="btn btn-link">SIGNUP</a>
        </div>

    </div>

</div>

{% endblock %}
